body {
  font-family: sans-serif;
  background-color: #eee;
}

/*  Forma */
#container {
  margin: 30px auto;
  width: 96%;
  max-width: 1000px;
  padding: 20px 50px;
  background-color: #fff;
  border: solid 2px #ccc;
}

#forma {
  padding: 10px;
}

.form-row {
  padding: 10px 0;
  display: flex;
}

.form-row label {
  padding: 0 5px;
  flex: 1;
}

.form-row input {
  padding: 5px;
  flex: 5;
}

/* Main */
#colum-layout {
  display: flex;
  margin: 30px auto;
  width: 96%;
  max-width: 1000px;
  padding: 20px 50px;
  background-color: #fff;
  border: solid 2px #ccc;
}

.sidebar-main {
  flex: 3;
  order: 2;
}

.sidebar-one {
  flex: 1;
  order: 1;
}

.sidebar-two {
  flex: 1;
  order: 3;
}



/* Call Outs */
#call-outs {
  display: flex;
  margin: 30px auto;
  width: 96%;
  max-width: 1000px;
  padding: 20px 50px;
  background-color: #fff;
  border: solid 2px #ccc;
}
