body {
  font-family: sans-serif;
  background-color: #eee;
}

/*  Forma */
#container {
  margin: 30px auto;
  width: 96%;
  max-width: 1000px;
  padding: 20px 50px;
  background-color: #fff;
  border: solid 2px #ccc;
}

#forma {
  padding: 10px;
}

.form-row {
  padding: 10px 0;
  display: flex;
}

.form-row label {
  padding: 0 5px;
  flex: 1;
}

.form-row input {
  padding: 5px;
  flex: 5;
}


/* Main */
#colum-layout {
  display: flex;
  margin: 30px auto;
  width: 96%;
  max-width: 1000px;
  padding: 20px 50px;
  background-color: #fff;
  border: solid 2px #ccc;
}

#colum-layout p {
  font-size: 1em;
  line-height: 1.2em;
  margin:0 0 15px 0;
}

.sidebar-main {
  flex: 3;
  order: 2;
}

.sidebar-one {
  flex: 1;
  order: 1;
}

.sidebar-two {
  flex: 1;
  order: 3;
}


/* Call Outs */
#call-outs {
  margin: 30px auto;
  width: 96%;
  max-width: 1100px;
  background-color: #fff;
  border: solid 2px #ccc;
}

@media (min-width: 700px) {
  #call-outs {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
}

.call-out {
  padding: 20px;
  box-sizing: border-box; /* this is for the spacing to work */
  flex-basis: 32%; /* flex-basis is usedinstead of width */
}

.call-out:nth-child(1) { background-color: #8bc6e3; }
.call-out:nth-child(2) { background-color: #c4ff8c; }
.call-out:nth-child(3) { background-color: #ea8282; }


/* Fixed Sized Content */
#fixed-size {
  margin: 30px auto;
  width: 96%;
  max-width: 1000px;
  padding: 20px 50px;
  background-color: #fff;
  border: solid 2px #ccc;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fix-size-box {
  width: 150px;
  height: 120px;
  background-color: #990b47;
  color: #fff;
  line-height: 110px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

/* Center */
#banner {
  margin: 30px auto;
  width: 96%;
  min-height: 300px;
  max-width: 1000px;
  padding: 20px 50px;
  background-color: #fff;
  border: solid 2px #ccc;
  display: flex;
}

.center {
  margin: auto;
}

.center h5 {
  margin: 0;
  font-size: 3em;
}


/* Equal Heights */
#equal-height {
  margin: 30px auto;
  width: 96%;
  padding: 20px 50px;
  background-color: #fff;
  border: solid 2px #ccc;
  display: flex;
}

.first {
  padding: 20px;
  flex: 1;
}

.second {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.second-a h6, .second-b h6 {
  text-align: center;
  color: #fff;
  font-size: 2.2em;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.35);
}

.second-a {
  flex: 1;
  background-color: darkcyan;
}

.second-b {
  flex: 1;
  background-color: forestgreen;
}
